/*
 Meta-data information
*/

manifest {
	description = 'This pipeline processes raw RNA-seq data in allele-specific manner to generate read count tables and signal tracks.'
	mainScript = 'allele-specific_RNA-seq.nf'
	nextflowVersion = '20.04.1'
	version = '0.0.2'
	author = 'Yuvia A. PEREZ RICO'
}

/*
 Initialize parameters
*/

params {
	sampleInfo = '/scratch/user/analysis_RNA-seq/sampleDescription.txt'
	chunkSize = 5000000
	G1 = 'C57BL-6J'
	G2 = 'CAST-EiJ'
	outDir = '/home/user/Documents/project_RNA-seq'
	genomeDirPath = '/home/user/Documents/references/mm10/indexes/STAR_2.7.2b/mm10_C57BL-6J_CAST-EiJ_Nmask'
	annotations = '/home/user/Documents/references/mm10/annotation/Mus_musculus.GRCm38.100.gtf'
	snpFile = '/home/user/Documents/references/mm10/SNPsplit/C57BL-6J_CAST-EiJ.txt.gz'
	rsTPM = '/scratch/user/analysis_RNA-seq/TPM_normalization_allelic.R'
	TXline = 'yes'
	tmpOutDir = '${TMPDIR}'
	numCPUs = 10
	numCPUs_Dtools = 20
}

/*
 Set process requirements
*/

process {
	executor = 'slurm'
	scratch = '/scratch/user'
	memory = 20.GB
	time = 20.m
	cpus = 1

	withLabel: fastq_splitting {
		memory = 1.GB
		time = 180.m
	}

	withLabel: filter_bams {
		memory = 1.GB
		time = 15.m
	}

	withLabel: process_bams {
		memory = 30.GB
		time = 90.m
	}

	withLabel: count_factor {
		memory = 500.MB
	}

	withLabel: signal_tracks {
		cpus = "${params.numCPUs_Dtools}"
		time = 50.m
		memory = 40.GB
	}

	withName: get_program_versions {
		memory = 100.MB
		time = 30.s
	}

	withName: fastq_quality {
		cpus = "${params.numCPUs}"
		time = 120.m
		memory = 3.GB
	}

	withName: trim_reads {
		memory = 1.GB
	}

	withName: read_mapping {
		cpus = "${params.numCPUs}"
		memory = 40.GB
		time = 50.m
	}

	withName: SNPsplit {
		memory = 15.GB
		time = 30.m
	}

	withName: sort_unassigned_bams {
		time = 150.m
		memory = 30.GB
	}

	withName: merge_mapped {
		memory = 30.GB
		time = 80.m
	}

}


